<html>
<head>
	<title>Diceware Passphrase</title>
	<style type="text/css">
		body {
			font-family: sans-serif;
			text-align: center;
		}
		h1 {
			border-bottom: 1px solid #eeeeee;
			padding: 5px;
		}
		pre {
			background-color: #eeeeee;
			border: 1px solid #dddddd;
			padding: 5px;
			display: inline;
		}
	</style>
</head>
<body>
<h1>Diceware Passphrase</h1>
<pre><%= passphrase %></pre>
</body>
</html>