<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Diceware Passphrase</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
				<h1>🎲 Diceware Passphrase</h1>
        <div class="card">
          <div class="copy">
            <input class="copy__text" type="text" value="<%= passphrase %>" readonly><button class="copy__button">✂︎</button>
          </div>
          <form class="" action="/" method="get">
            <div class="option">
              <input type="number" name="num_words" value="<%= num_words %>">
              <label for="num_words">words</label>
            </div>
            <div class="option">
              <input type="checkbox" id="capitalize" name="capitalize" <% if capitalize %>checked<% end %>>
              <label for="capitalize">Capitalize</label>
            </div>
            <div class="option">
              <input type="checkbox" id="add_digit" name="add_digit" <% if add_digit %>checked<% end %>>
              <label for="add_digit">Add Digit</label>
            </div>
            <button type="submit">Generate</button>
          </form>
        </div>
        <h2>What is Diceware?</h2>
        <p>Diceware is a method of creating a strong and secure passphrase. A passphrase is a set of words or characters that is used to verify your identity in a system. This method starts by either having you roll one die five times or rolling a set of 5 dice once. Then you take the combined results of your dice roll and use the number to lookup a word in a diceware word list. This word will become a word in your passphrase. Repeat this process until you’ve reached the amount of desired words.</p>
        <p>This method of choosing a passphrase is not only secure but incredibly simple making it an ideal method for creating such passwords. Passphrases of this form are also easier for a person to memorize as well since. Memorizing <code>quibble-styling-anglican</code> is much easier than <code>o8mtKYARrN%V</code>. This application generates passphrases using the above method. It also allows some extra settings as some authentication systems require either capital letters and/or a number as well.</p>
        <h2>References</h2>
        <p><a href="http://world.std.com/%7Ereinhold/diceware.html">The Diceware Passphrase Home Page</a></p>
        <p><a href="https://xkcd.com/936/">Password Strength xkcd Comic</a></p>
        <p><a href="https://github.com/dennis1088/diceware-web">Github</a></p>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-104318578-1','auto');ga('send','pageview');
        </script>
    </body>
</html>
