body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  padding: 0px 20px;
}

button {
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin-top: 20px;
  min-width: 50px;
}

input {
  line-height: 1.4;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label:before {
  border: 1px solid #bbbbbb;
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  vertical-align: middle;
  margin-right: 10px;
}

input[type=checkbox]:checked + label::before {
  background: black;
  border-color: black;
  color: white;
}

.option {
  margin-top: 10px;
}

input[type=number] {
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  padding: 5px;
  width:40px;
}

h1 {
  margin-bottom: 0px;
}

input[type=text] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
}

.copy {
  display: flex;
  margin-top: 10px;
}

.copy .copy__button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 0px;
}

.copy .copy__text {
  flex: 1;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
