body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button {
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label:before {
  border: 1px solid #bbbbbb;
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  vertical-align: middle;
  margin-right: 10px;
}

input[type=checkbox]:checked + label::before {
  background: black;
  border-color: black;
  color: white;
}

.option {
  margin-top: 10px;
}

input[type=number] {
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  padding: 5px;
  width:40px;
}

pre {
  margin-bottom: 0px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

h1 {
  margin-bottom: 0px;
}
